body{
	font-family: "Open Sans", sans-serif;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Roboto', arial, sans-serif;
}

img{
	width: 100%;
}

.navbar-brand {
    font-family: 'Spectral', serif;
    font-size: 44px;
    color: #121212;
    font-style: italic;
    width: 100%;
    border-bottom: 1px solid #d8deed;
}

.header{
	width: 100%;
	padding: 0;
	background-color: #eaf0ff;
	text-align: center;
	font-size: 13px;
}

.foot{
	font-size: 12px;
}

.icon{
	font-size: 25px;
}

#banner{
	background-image: url(images/banner-bg.jpg);
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    padding: 140px 0px 140px 0px;
}

.asian{
	font-family: 'Spectral', serif;
	font-weight: 600;
	font-size: 44px;
}

.delec{	
	background: #f2745f;
	height: auto;
}

.imgg{
	border:10px solid #eaf0ff;
	border-radius: 50%;
}

.food{
	font-family: 'Spectral', serif;
	font-weight: 600;
	font-size: 22px;
	color: #121212;
}

#book{
	background-image: url(images/book-bg.jpg);
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
    padding: 95px 0px 95px 0px;
}

.download{
	background: #f2745f;
}

.heading{
	font-size: 25px;
	font-weight: 700;
	color: #121212;
}

.feat{
	font-size: 28px;
	border-bottom: 1px solid #d9dde5;
	font-family: 'Spectral', serif;
	width: 100%;
}

.para{
	font-family: 'Spectral', serif;
	font-size: 20px;
	font-weight: 600;
}

.parag{
    color: #9a9a9a;
    font-size: 13px;
    line-height: 24px;
    text-align: justify;
}

.price{
    position: absolute;
    color: #f2745f;
    bottom: 0;
    right: 0;
    background: rgba(250, 250, 250, 0.6);
    font-size: 18px;
    padding: 8px 12px;
    letter-spacing: 0.6px;
    font-weight: 600;
}

.hed{
	font-size: 21px;
	font-family: 'Spectral', serif;
	color: #121212;
	font-weight: 600;
	line-height: 23px;
}

.admin{
	font-family: Roboto, arial, sans-serif;
	font-size: 13px;
	color: #7a7a7a;
	line-height: 25px;
	text-align: justify;
}

.readlink{
	font-family: Roboto, arial, sans-serif;
	font-size: 12px;
	color: #f2745f;
	font-weight: 600;
}

.postt{
	position: relative;
}

.date1{
    position: absolute;
    color: #f2745f;
    top: 0;
    left: 0;
    background: rgba(250, 250, 250, 0.9);
    font-size: 18px;
    padding: 8px 12px;
    letter-spacing: 0.6px;
    font-weight: 600;
}

#signup{
	background-image: url(images/signup-bg.jpg);
	background-size: cover;
	background-position: center;
    background-repeat: no-repeat;
}

.banner1{
	background-image: url(images/heading-bg.jpg);
	background-size: cover;
	background-position: center center;
    background-repeat: no-repeat;
}

.carousel .carousel-item {
	min-height: 330px;
	text-align: center;
	overflow: hidden;
}
.carousel .carousel-item .img-box {
	height: 160px;
	width: 100%;
	position: relative;
}
.carousel .carousel-item img {	
	max-width: 100%;
	max-height: 100%;
	display: inline-block;
	
}
.carousel .carousel-item h4 {
	font-family: 'Spectral', serif;
	font-size: 20px;
	margin: 10px 0;
}

.carousel .carousel-indicators {
	bottom: -10px;
}
.carousel-indicators li, .carousel-indicators li.active {
	width: 10px;
	height: 10px;
	margin: 4px;
	border-radius: 50%;
	border-color: transparent;
	border: none;
}
.carousel-indicators li {	
	background: rgba(255, 65, 0, 0.4);
}
.carousel-indicators li.active {	
	background: rgba(255, 69, 0, 0.6);
}

.bgg{
	background: #eaf0ff;
}

.smiley{
	font-size: 30px;
	color: #f2745f;
}
